/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 1em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.info {
	font-size: 10pt;
	font-style: oblique;
}

/* simple */
input.simple {
	width: 30% !important;
}

/* green list */
table.items tr th {
	text-align: left;
}

table.items tr th:first-child {
	width: 50%;
}

table.items tr th:last-child {
	width: 10%;
}

table.items tr td {
	padding-left: 2px;	
}

table.items tr td input[type="text"] {
	width: 80%;
	padding-left: 2px;
}

table.items tr td.filter input {
	width: 100%;
	padding-left: 2px;
}

table.items tr:nth-child(even) td {
	background-color: rgba(51, 255, 153, 0.3);/*lavenderblush;*/	
}

table.items tr td.filter {
	padding-left: 0px;
	padding-right: 10px;
}

.sort {
	cursor: pointer;
}

.clear-color, tr.clear-color td {
	background-color: transparent !important;
}
