<p>Список покупок</p>
<hr/>
<table class="items" width="100%">
	<tr>
		<th class="sort" ng-click="sortBy('name')" title="Нажмите для сортировки по имени">Название</th>
		<th class="sort" ng-click="sortBy('count')" title="Нажмите для сортировки по количеству">Кол-во</th>
		<th></th>
	</tr>
	<tr ng-repeat="item in filteredItems = (items | filter:currentItem | orderBy:sortOrder() | paginate:this:pageNo:pageSize)">
		<td>
			<span edit item="item" field="name" save="updateItem(item)" />
		</td>
		<td>
			<span edit item="item" field="count" save="updateItem(item)" />
		</td>
		<td class="clear-color">
			<button ng-click="deleteItem(item._id)" title="Удалить элемент">X</button>
		</td>
	</tr>
	<tr class="clear-color">
		<form name="itemForm">
			<td class="filter">
				<!-- <input type="text" ng-model="currentItem.name" placeholder="Фильтровать по имени..." /> -->
				<input autocomplete ng-model="currentItem.name" hint="Фильтровать по имени..." />
			</td>
			<td class="filter">
				<input type="number" ng-model="currentItem.count" count-input allow-empty="true" placeholder="Фильтровать по кол-ву..." />
			</td>
			<td>
				<button ng-click="createItem()" ng-disabled="!itemForm.$valid" title="Создать новый элемент">+</button>
			</td>
		</form>
	</tr>
</table>
<hr/>
	<button ng-click="incPage(false)">-</button>
	<span> {{ pageNo }} / {{ pageNum }}</span>
	<button ng-click="incPage(true)">+</button>
<hr/>
